@font-face {
    font-family: 'Inter-Bold';
    src: url(../fonts/Inter-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url(../fonts/Inter-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Monts';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}