@media screen and (max-width:1024px) {
    .about__wrap{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .about__img  img{
        width: 100%;
        height: 100%;
        
    }
}

@media screen and (max-width:768px) {
    .nav {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width:660px) {
    h1 {
        font-size: 35px;
        text-align: center;
    }

    .banner__wrap {
        gap: 70px;
    }
}

@media screen and (max-width:568px) {
    .menu {
        gap: 20px;
    }
}

@media screen and (max-width:540px) {
    h1 {
        font-size: 30px;
        text-align: center;
    }
    .about__desc-h3{
        font-size: 30px;
        margin-bottom: 35px;
    }
    .about__desc-p{
        font-size: 16px;
    }
}

@media screen and (max-width:460px) {
    .about__desc-p{
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width:420px) {
    .nav {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;

    }
}

@media screen and (max-width:360px) {
    h1 {
        font-size: 25px;
    }
}